{% extends "base.html" %}

{% block content %}

<style>
    .home-container{
        display:grid;
        grid-template-columns : 1fr 3fr
    }
</style>


<h3>Home</h3>
<div>
    <form action="{% url 'home' %}" method="GET">
        <input type="text" placeholder= "Search Room..." name = "q">
    </form>
</div>
<div class="home-container">

    <div class="left-sidebar">
        <h3>
            Browse Topics </h3>
            <div>

                <a href="{% url 'home' %}">All</a>
            </div>
            {% for topic in topics  %}
            <div>

                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
            {% endfor %}
            <a href="{% url 'room-form' %}">Create Form</a>
     
    </div>
    <div>
        <h5>{{room_count}} rooms available</h5>

        {% for room in rooms %}
     <div>

         <span>@{{room.host.username}}</span> <br>
         {{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a> 
<br>
         <a href="{% url 'update-room-form' room.id %}">Edit</a>
         <a href="{% url 'delete-room' room.id %}">Delete</a>
         <hr>
     </div>
    {% endfor %}
    </div>
    
{% endblock content %}